{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "../static/css/story.css" %}'>
    <title>My Schedule</title>
</head>
<body class="form"> 

    <!-- Button for back to HomePage -->
    <br><br><br><br>
    <div class="home-button">
        <a href="/indexStory3">
            <button type="button" class="btn btn-primary"
                    style="background-color: gray; border-color: white">
                BACK
            </button>
        </a>
    </div>
    <!-- Akhir Button -->

    <!-- Pengisian Form  -->
    <div class="main-section">
        <div class="container">
            <h1 class="main-header" id="font-form">My Schedule</h1>
        </div>
    </div>
    <form action="/addJadwal/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <span class="form-label-group">
                <h3 id="font-form">Activity</h3>
            </span>
            <input type="text" id="inputName" class="input-name" name="aktifitas" placeholder="activity"
                autocomplete="off">
        </div>
        <div class="form-group">
            <h3 id="font-form">Date</h3>
            <textarea row="4" id="inputStatus" name="date" placeholder="Date"></textarea>
        </div>
        <div class="form-button-group">
            <button type="submit" class="status-submit-button">Submit</button>
        </div>
        <div class="status-card-section">
        </div>
        <!-- Akhir pengisian Form -->

        <!-- Hasil Form -->
        <br><br><br>
        <table>
            <tr>
                <th id="font-form"><h2>My Activity</h2></th>
                <th id="font-form"><h2>Date</h2></th>
            </tr>
            {% for activity in aktifitas %}
                <tr>
                    <td id="font-form">{{activity.aktifitas}}</td>
                    <td id="font-form">{{activity.date}}</td>
                </tr>
            {% endfor %}
        </table>
        <!-- Akhir Hasil Form -->
        
    </form>
</body>
</html>