{% load static %}   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "../static/css/story.css" %}'>
    <title>story</title>
</head>
<style>  
    #container {
            position: center;
            height: 100vh;
            width: 100%;
        }

    #container img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;

    }
     @-webkit-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-o-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        #container img {
            -webkit-animation-name: imgFade;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 8s;

            -moz-animation-name: imgFade;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-iteration-count: infinite;
            -moz-animation-duration: 8s;

            -o-animation-name: imgFade;
            -o-animation-timing-function: ease-in-out;
            -o-animation-iteration-count: infinite;
            -o-animation-duration: 8s;

            animation-name: imgFade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 8s;
        }

        #container img:nth-of-type(1) {
            -webkit-animation-delay: 6s;
            -moz-animation-delay: 6s;
            -o-animation-delay: 6s;
            animation-delay: 6s;
        }

        #container img:nth-of-type(2) {
            -webkit-animation-delay: 4s;
            -moz-animation-delay: 4s;
            -o-animation-delay: 4s;
            animation-delay: 4s;
        }

        #container img:nth-of-type(3) {
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;
            animation-delay: 2s;
        }

        #container img:nth-of-type(4) {
            -webkit-animation-delay: 0;
            -moz-animation-delay: 0;
            -o-animation-delay: 0;
            animation-delay: 0;
        }

        .contain {
            position: relative;
            text-align: center;
            align-content: center;
            width: 100%;
            height: 100%;
        }

        .centered {
            position: relative;
            top: 50%;
            left: 50%;
            font-size: 70px;
            color: white;

            transform: translate(-50%, -270%);
            
        }

        .nav {
            font-size: 20px;
            transform: translate(0%, 100%);
            color: white;
        }
        .pg {
            font-size: 20px;
            transform: translate(0%, 90%);
            color: white;
        }
</style>
<body>
    
    <div id="container">
        <img src='{% static "/images/hp1.png" %}'/>
        <img src='{% static "/images/hp2.png" %}'/>
        <img src='{% static "/images/hp3.png" %}'/>
        <img src='{% static "/images/hp4.png" %}'/>
        {#    <img class="top" src='{% static "/images/hp3.png" %}'/>#}
        
        <div class="contain">
            <div class="centered">Hallo..</div>
            <div  class="nav">

            <div  class="row">  
                <a href="/indexStory1">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY1-PPW</button>
                </a>
            </div>

            <div  class="row">   
                <a href="/indexStory3">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY3&4-PPW</button>
                </a>
            </div>

            <div  class="row">
                <a href="/story5">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY5-PPW</button>
                </a>
            </div>

            <div  class="row">
                <a href="/story6">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY6-PPW</button>
                </a>
            </div>

            <div  class="row">
                <a href="/story7">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY7-PPW</button>
                </a>
            </div>
            <div  class="row">
                <a href="/story8">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY8-PPW</button>
                </a>
            </div>
            <div  class="row">
                <a href="/story9">
                    <button type="button" class="btn btn-primary btn-lg btn-block">STORY9-PPW</button>
                </a>
            </div> 
            <div class="pg">
                to see my story PPW, <br> Please click the button!
            </div> 
        </div>
    </div>
    
</body>
</html>