
{% extends 'base.html' %}
{% load static %}


    {% block headone %}
    <title>story3</title>
    {% endblock %}


{% block body %}
<!-- navbar -->
<div class="topnav" id="myTopnav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/story9">BACK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"       aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
  
              <a id="n-font" class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
              <a id="n-font" class="nav-item nav-link " href="#About" class="page-scroll">About</a>
              <a id="n-font" class="nav-item nav-link" href="#Experience" class="page-scroll">Experience</a>
              <a id="n-font" class="nav-item nav-link" href="#Skills" class="page-scroll">Skills&Porject</a>
              <a id="n-font" class="nav-item nav-link" href="#Contact" class="page-scroll">Contact</a>
              <a id="n-font" class="nav-item nav-link" href="/indexJadwal" class="page-scroll">Schedule</a>
            </div>
          </div>
    </nav>
  </div>
<!-- akhir navbar -->

<!-- Background 1 -->
<div id="bg">
    <img src='{% static "../static/images/bg1.png" %}' id="hello-img">
</div>
<!-- Akhir background 1 -->


<!-- About -->
<div id='About' class="container">
    <br><br><br><br><br><br><br>
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div>
                <p id="m-font">Hello! I'm Nurdiana Putri</p>
                <br>
                <p id="a-font">"A student who is studying about technology and business, and then wants to implement programming knowledge and the experience she has to create the latest innovations that can prosper the comunity in which she has the strong self driving and high spirit"</p>
            </div>
        </div>
        <div class="col">
            <div id="foto-align">
                <img src='{% static "../static/images/me.jpg" %}' id="foto-img">
            </div>
        </div>
    </div>
</div>
<!-- Akhir About -->


<!-- Education & Eksperience -->
<br><br><br><br><br><br><br><br>
<div id="m-font">
    <p id="Experience">My Experience</p>
</div>
<div class="head-ex-container">
    <div class="experienceContainer">
        <div class="empty"></div>
        <div class="divider">
            <img src='{% static "../static/images/Group 1.png" %}' id="line-img">
        </div>
        <div class="textMessage">
            <p class="tm-right">BEM Fasilkom UI</p>
        </div>
    </div>
    <div class="experienceContainer">
        <div class="textMessageLeft">
            <p class="tm-left">SISTEM Fasilkom UI</p>
        </div>
        <div class="divider">
            <img src='{% static "../static/images/Group 1.png" %}' id="line-img">
        </div>
        <div class="empty"></div>
    </div>
    <div class="experienceContainer">
        <div class="empty"></div>
        <div class="divider">
            <img src='{% static "../static/images/Group 1.png" %}' id="line-img">
        </div>
        <div class="textMessage">
            <p class="tm-right">SAIMALA UI</p>
        </div>
    </div>
    <div class="experienceContainer">
        <div class="textMessageLeft">
            <p class="tm-left">UI Ethnovaganza</p>
        </div>
        <div class="divider">
            <img src='{% static "../static/images/Group 1.png" %}' id="line-img">
        </div>
        <div class="empty"></div>
    </div>
    <div class="experienceContainer">
        <div class="empty"></div>
        <div class="divider">
            <img src='{% static "../static/images/Group 1.png" %}' id="line-img">
        </div>
        <div class="textMessage">
            <p class="tm-right">EDUCARE Fasilkom UI</p>
        </div>
    </div>
</div>
<!-- Akhir Education & eksperience -->


<!-- Skills -->
<div id="Skills">
    <div id="s-font">
        <p>Skills</p>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src='{% static "../static/images/skills1.jpg" %}' id="hello-img" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src='{% static "../static/images/skills2.jpg" %}' id="hello-img" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src='{% static "../static/images/skills3.jpg" %}' id="hello-img" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<!-- Skills Akhir -->


<!--Portofolio-->
<br>
<div class="container" style="text-align: center">
    <h2 id="s-font">Project</h2><br>

    <!-- Button to Open the Modal -->
    <button id="s-font" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
            style="background-color: black; border-color: #4f4f4f">
        Click Me
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div id="s-font" class="modal-header">
                    <h4 class="modal-title">Portofolio</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src='{% static "../static/images/project1.jpg" %}' alt="img" width="1100"
                                     height="500">
                                <div class="carousel-caption">
                                    <h3>Podcast SISTEM Fasilkom UI</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src='{% static "../static/images/project2.jpg" %}' alt="img" width="1100"
                                     height="500">
                                <div class="carousel-caption">
                                    <h3>Web Development SBF Bismit</h3>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>

                <!-- Modal footer -->
                <div id="s-font" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Akhir Portofolio -->


<!-- Contact -->
<div id="Contact" class="contact-me">
    <div id="s-font">
        <p>Contact Me</p>
        <div class="row">
            <div class="column">
                <a href="mailto:nurdianaputri73@gmail.com">
                    <img src='{% static "../static/images/email.png" %}' id="contact-img1">
                </a>
            </div>
            <div class="column">
                <a href="tel:+6281278270239">
                    <img src='{% static "../static/images/phone.png" %}'
                         id="contact-img2">
                </a>
            </div>
            <div class="column">
                <a href="https://www.instagram.com/nurdianaputri04/">
                    <img src='{% static "../static/images/ig.png" %}' id="contact-img3">
                </a>
            </div>
        </div>
        <img src='{% static "../static/images/footer.png" %}' id="hello-img">
    </div>
</div>
<!-- Contact Akhir -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>      


{% endblock %}
