{% load static %}   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>PPW</title>
</head>
<style>
    /* Story 1 */

#pp-img{
    width: 20vw;
    border-radius: 30px;

}

.pg-header {
    background-color: #8b8a8a;
    padding: 3em;
    color: #ffffff;
}

.my-info {
    text-align: center;
    background-color: rgb(31, 30, 30);
    padding: 3em;
}

.contact-me {
    text-align: center;
    background-color: #444040;
    padding: 3em;
}

.contact-image {
    width: 3vw;
    border-radius: 30px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(129, 123, 123);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: rgb(27, 21, 21);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
</style>
<body>
<div class="pg-container">
<div class="pg-header">
  <div class="container">
      <div class="row">
          <div class="col align-self-center">
            <h1>Hello! I'm Nurdiana Putri</h1>
            <p>"A student who is studying about technology and business, and then wants to implement programming knowledge and the experience she has to create the latest innovations that can prosper the comunity in which she has the strong self driving and high spirit".</p>
            <a href="/">
                <button type="button" class="btn btn-primary"
                        style="background-color: gray; border-color: white">
                    HOMEPAGE
                </button>
            </a>
          </div>
          <div class="home-button">
        </div>
          <div class="col">
              <img src='{% static "../static/images/me.jpg" %}' id="pp-img">
          </div>
      </div>
  </div>
  <br><br>

<!-- button collapse for about -->
  <div class="card" style="background-color: #2e2c2c">
      <div class="card-header" id="headingOne">
          <h2 class="mb-0" style="text-align: center">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne" style="color: rgb(255, 255, 255); font-size: 32px">
                  About Me
                  <img src='{% static "../static/images/99173.png" %}' style="width: 40px">
              </button>
          </h2>
      </div>
  </div>
  <div class="accordion" id="accordionExample" style="background-color: #272626">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row" style="text-align: center; color: rgb(255, 255, 255)">
                  <div class="col">
                      <h4>Riwayat Pendidikan</h4>
                      <p>
                          SD IT Baitul Muslim<br>
                          SMP IT Baitul Muslim<br>
                          SMAN 1 Way Jepara<br>
                          Universitas Indonesia<br>
                      </p>
                  </div>
                  <div class="col">
                      <h4>Informasi Universitas</h4>
                      <p>Berkuliah di Universitas Indonesia, Fakultas Ilmu Komputer, Angkatan 2019, dengan NPM
                          1906399871</p>
                  </div>
                  <div class="col">
                      <h4>Memiliki Hobi</h4>
                      <p>Membaca novel, nonton, berolahraga, menyanyi dan traveling.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- contact -->
<div class="contact-me">
  <div class="container">
      <br>
      <div class="row">
          <div class="col">
              <a href="mailto:nurdianaputri73@gmail.com" style="color: #ffffff">
                  <img src='{% static "../static/images/email.png" %}' class="contact-image">
                  nurdianaputri73@gmail.com
              </a>
          </div>
          <div class="col">
              <a href="https://www.instagram.com/nurdianaputri04/" style="color: #fffefe">
                  <img alt="Instagram" src='{% static "../static/images/ig.png" %}' class="contact-image">
                  nurdianaputri04
              </a>
          </div>
          <div class="col">
              <a href="tel:+6281278270239" style="color: #ffffff">
                  <img src='{% static "../static/images/phone.png" %}' class="contact-image">
                  081278270239
              </a>
          </div>
      </div>
  </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
</body>
</html>