@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

html, body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#hello-img {
    width: 100%;
}
.form {
    background-color: #363636;
    width: 100%;
    text-align: center;
}
.story{
    background-color: #2c2c2c;
    text-align: center;
}

#font-form{
    color: #f8f8f8;
}
#font-story{
    color: #f8f8f8;
    text-align: center;
}

#formcss{
    justify-content: center;
}

#n-font{
    font-family: "Playfair Display";
    margin-top: 0px;
    font-size: 15px;
    line-height: 32px;
}

#a-font {
    font-family: "Playfair Display";
    margin-top: 0px;
    font-size: 24px;
    line-height: 32px;
    
}

#m-font {
    font-family: "Playfair Display";
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#s-font {
    font-family: "Playfair Display";
    font-size: 48px;
    margin: 0;
    text-align: center;
}

#s-font .row {
    margin-bottom: 10vh;
}

#foto-img {
    width: 30vw;
    display: flex;
    justify-content: center;
}

#foto-align {
    text-align: right;
}
.contact-me {
    margin-top: 15vh;
}

#contact-img1 {
    width: 66px;
    height: 58px;
}

#contact-img2 {
    width: 65px;
    height: 62px;
}

#contact-img3 {
    width: 95px;
    height: 70px;
}

.row {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.column {
    float: left;
    width: 120px;
    align-items: center;
    justify-content: center;

}

.experienceContainer {
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.empty {
    flex: 1;
}

.textMessage {
    flex: 1;
    text-align: left;
    font-family: "Playfair Display SC";
    font-size: 24px;
}

.tm-right {
    margin-left: 5vw;
}

.tm-left {
    margin-right: 5vw;
}

.textMessageLeft {
    flex: 1;
    text-align: right;
    font-family: "Playfair Display SC";
    font-size: 24px;
}

.head-ex-container {
    margin-top: 8vh;
    margin-bottom: 20vh;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/* ================= */

@media (max-width: 813px) {
    /* smartphones, iPhone, portrait 480x320 phones */

    .container {
        margin-top: 2.5rem;
    }

    #formcss{
        width: 30vw;
    }

    #a-font {
        font-size: 7px;
        margin-top: -2rem;
    }

    #foto-align {
        margin-left: 10%;
    }

    #foto-img {
        width: 30vw;
    }

    #m-font {
        font-size: 20px;
    }

    #p-font {
        font-size: 12px;
        text-align: right;
        padding: 2rem;
    }

    .textMessage {
        font-size: 12px;
    }

    .textMessageLeft {
        font-size: 12px;
    }

    #s-font {
        font-size: 25px;
    }

    #s-font .row .column {
        width: 20vw;
        margin-top: 1rem;
    }

    #contact-img {
        width: 50px;
        height: auto;
    }

    #contact-img1 {
        width: 35px;
        height: auto;
    }

    #contact-img2 {
        width: 50px;
        height: auto;
    }

    #contact-img3 {
        width: 35px;
        height: auto;
    }
}
