
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href='{% static "/css/story3.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Podkova"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body style="background-color: rgb(184, 184, 184);">
    <style>
        #Matkul {
            margin: 50px;
            font-family: "Playfair Display";
        }

        #DMatkul {
            margin: 50px;
            font-family: "Playfair Display";
        }

        #jfont {
            text-align: center;
            font-family: "Playfair Display";
            margin-top: 30px;
            margin-bottom: 0;
        }

        #bton2 {
            text-align: center;
            margin-top: 0;
        }

        #lihat_jadwal {
            margin: 100px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
    <h1 id="jfont">Jadwal Mata Kuliah</h1>

    <div id="Matkul">
        <div id="bton2">
            <a href="/story5/#lihat_jadwal">
                <button class="btn" style="background-color: gray;" >Lihat Jadwal</button>
            </a>
        </div>
        <h3>Tambah Jadwal</h3> <br>
        <form id="form" method="POST" action="/story5/post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form_tambah.as_p }}
            </div>
            <br>
            <button type="submit" class="btn" id="bton"  style="background-color: gray;">Tambah</button>    
        </form>
        <br>
        <a href="/"> 
            <button class="btn" id="bton" style="background-color: gray;">Kembali</button> 
        </a>
    </div>
    <div id="lihat_jadwal">
        <table>
            <tr>
                <th  style="background-color: gray;">Jadwal</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td  style="background-color: gray;">
                        <a href="/story5/{{ i.nama }}">
                            <p>{{ i.nama }}</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>

