{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'story9.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="{% static 'story9.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body style="background: #2F4454;">

<div class="homepage">
    Hello, {{user}}<br>
    <div class="homepage-subtitle">
    </h2>welcome to my awesome website!</h2>
    </div>
    <br>
    <a  href="/indexStory3">
        <button class="main-button logout-button">Home Page</button>
    </a>
    <a href="/story9/logout">
        <button class="main-button logout-button">Logout</button>
    </a>
</div>
</body>
</html>
