
  .container-fluid {
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  .responsive {
    width: 70%;
    height: 70%;
    align-content: center;
  }
  .bg-1 { 
    background-color: gray;
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }

  h1{
    font-size: 4vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }
  
  h2{
    font-size: 3.5vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  h3{
    font-size:1.5vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  p{
  font-size:1.5vw;
  font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  
  @media only screen and (max-width: 767px) {

    h1 {
       font-size: 4em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    
    h2 {
       font-size: 3.5em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    h3 {
      font-size: 1.5em;
      font-family: 'Arial', 'Times New Roman', sans-serif;

    } 
    p{
    font-size: 1.5em;
    font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    
  
  
    }
  